<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="kgban.css">
<title>KG版</title>
</head>
<body>
	<div class="center">
		<label>掲示板</label>
	</div>
	<form action="./" method="post">
		<div class="a inline-block">
			<label class="label">name</label>
		</div>
		<div class="inline-block">
			<input type="text" class="nam" name="name" placeholder="全半角12文字以内"
				maxlength="12" required>
		</div>
		<div></div>
		<div class="a inline-block">
			<label class="label">message</label>
		</div>
		<div class="inline-block">
			<input type="text" class="mes" name="message" placeholder="全半角25文字以内"
				maxlength="25" required>
		</div>
		<div>
			<input type="submit" class="bot" value="投稿">
		</div>
	</form>
	<div th:each="obj:${list}">
	<hr>
		<p class="output">
			<output th:text="${obj.id}"></output>
			<output th:text="${obj.name}"></output>
			<output th:text="${obj.time}"></output>
		</p>

	<p th:text="${obj.message}" class="message">
      <output th:text="${obj.message}"></output>
    </p>
	
	</div>

</body>
</html>

